/*  pseudoclase de estado  */
a:hover{
    color:blue
}
a:visited{
    color:blue
}
a:link{
    color:peru
}

/*  pseudoclase de relación  */
div h3:only-of-type{
    color:green
}

/*  pseudoclase de posición padre  */
div p:last-child{
    color:red;
  }

/*  pseudoclase nth hijo. si quieto la class se pinta el tercer div
.three div:nth-child(3) {
    color:pink;
}
*/

/*  pseuelemento parte del elemento */
span p::first-letter{
    color:rosybrown
}
.profesional h3{
    color:skyblue;
}
