 
/* bloque de  declaración */
body{
    background-color: beige;
    margin:0px;
    padding:0px;
}
/* selector de elemento */
img{
   height: auto;
}
dialog{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% -50%);
    width: 100%;
}
/* fonts */

h1 {
    font-family: 'Noto Serif Display', serif;
    font-size: 50px;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Epilogue', sans-serif;
}
p{
    font-family: 'Epilogue', sans-serif;
    line-height: 30px;
}
li{
    font-family: 'Epilogue', sans-serif;
    line-height: 30px;
}

/* background */
.topbar{
    background-color:pink;
}
.fila1{
    background-color: powderblue;
}
/*  pseudoclase de estado  */
a:hover{
    color:blue
}
a:visited{
    color:blue
}
a:link{
    color:peru
}

/*  pseudoclase de relación  */
div h3:only-of-type{
    color:green
}

/*  pseudoclase de posición padre  */
div p:last-child{
    color:red;
  }

/*  pseudoclase nth hijo. si quieto la class se pinta el tercer div
.three div:nth-child(3) {
    color:pink;
}
*/

/*  pseuelemento parte del elemento */
span p::first-letter{
    color:rosybrown
}
.profesional h3{
    color:skyblue;
}

/*  class */
h2.border-1{
    border: red 3px dotted;
}
h2.border-2{
    border: blue 3px dotted;
}
h2.border-1.border-2{
    border: blue 3px solid;
}

/*  misma class distintos elementos */
.border-1{
    border: red 3px dotted;
}