* {
    box-sizing: border-box;
  }

  /*--------------------------------------------------* BODY
--------------------------------------------------*/
body {
    font-size: 20px;
    background-color: #2EA18C;
    margin: 0;
    padding: 0;
}  