.grid {
    display: flex;
    flex-wrap: wrap;
    
    /* "&" el padre */
    &__cell {

        &--100 {
            flex: 0 0 calc(100% - 18px); 
        }
        
        &--75 {
            flex: 0 0 calc(75% - 18px); 
        }

        &--65 {
            flex: 0 0 calc(65% - 18px);
        }

        &--50 {
            flex: 0 0 calc(50% - 18px); 
        }

        &--35 {
            flex: 0 0 calc(35% - 18px); 
        }

        &--25 {
            flex: 0 0 calc(25% - 18px);
        }
    }
}
