.pastilla {
    padding: 0px;
    left: 629px;
    top: 118px;
    text-align: center;
    position: relative;
}

.avatar {
    padding: 0px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: $bgimg;
    border: 3px solid white;
    background-image: url('../img/pexels-photo-2709386.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    

    &__edit {
      background-color: white;
      display: inline-block;
      text-align: center;
      height: 2em;
      width: 2em;
      border-radius: 50%;
      padding-top: 8px;
      position: absolute;
      left: calc(50% - 1em);
      bottom: 6.5em;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale (1.5) rontat;
      }



    }

    
  }