h3 {
  color: white;
  font-size: 40px;
  font-style: Helvetica, Sans-Serif;
}

p {
  color: white;
  font-size: 18px;
  font-style: Helvetica, Sans-Serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------------------------------* BODY
--------------------------------------------------*/
body {
  font-size: 20px;
  background-color: #2EA18C;
  margin: 0;
  padding: 0;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* "&" el padre */
}
.grid__cell--100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 18px);
          flex: 0 0 calc(100% - 18px);
}
.grid__cell--75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 18px);
          flex: 0 0 calc(75% - 18px);
}
.grid__cell--65 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(65% - 18px);
          flex: 0 0 calc(65% - 18px);
}
.grid__cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 18px);
          flex: 0 0 calc(50% - 18px);
}
.grid__cell--35 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(35% - 18px);
          flex: 0 0 calc(35% - 18px);
}
.grid__cell--25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 18px);
          flex: 0 0 calc(25% - 18px);
}

ul {
  list-style: none;
  padding: 0;
  margin: 60px 0;
}
ul li {
  display: inline-block;
}
ul li a {
  /*nesting=anidado*/
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  font-size: 23px;
  color: white;
  padding: 20px;
  background-color: darkblue;
}

/*

https://placekitten.com/170/170

*/
.card-links {
  display: inline-block;
  padding: 24px;
  background-color: #227767;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-links:visited {
  color: white;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  height: 234px;
  left: 525px;
  right: 555px;
  top: 420px;
  border-radius: 30px;
  display: flex;
}

h3,
p {
  color: #ffffff;
}

.pastilla {
  padding: 0px;
  left: 629px;
  top: 118px;
  text-align: center;
  position: relative;
}

.avatar {
  padding: 0px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: grey;
  border: 3px solid white;
  background-image: url("../img/pexels-photo-2709386.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.avatar__edit {
  background-color: white;
  display: inline-block;
  text-align: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  padding-top: 8px;
  position: absolute;
  left: calc(50% - 1em);
  bottom: 6.5em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.avatar__edit:hover {
  -webkit-transform: scale 1.5 rontat;
          transform: scale 1.5 rontat;
}

.avatar__edit {
  text-align: center;
}