

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content {
  margin: 15px;
}

a {
  color:  $colorfont;
  text-decoration: none;
}


.col {
 width: 100%;
 color: $colorbg;
}

@media (min-width: 400px) {
  
  .col {
    float: left;
    margin-bottom: 0;

    &.col100 {
      width: 100%;
    }
    
    &.col50 {
      width: 50%;
    }

    &.col33 {
      width: 33.33333%;
    }

    &.col25 {
      width: 25%;
    }
  }
}



// styling form

label, .label {
  border: 0px;
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
  background-color: $colorbg;
  padding-left: 30px;
  
  &.checkbox {
    width: 100%;
  }
}

.field {
  width: 100%;
}

.input {
      border-bottom: 2px solid $colorsymbol;
      background-color: $colorbg;
    }