@import url('https://fonts.googleapis.com/css?family=Bitter|Dosis:400,700');

$base-color: #143544;
$standard-distance: 24px;
$orange-faded: rgb(255, 238, 231);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $base-color;
  text-decoration: none;
}

form {
  padding: 0 ($standard-distance/2);
}

.col {
 margin-bottom: $standard-distance;
 width: 100%;
}

@media (min-width: 400px) {
  
  .col {
    float: left;
    margin-bottom: 0;
    padding-left: $standard-distance;
    
    &.col50 {
      width: 50%;
    }

    &.col33 {
      width: 33.33333%;
    }

    &.col25 {
      width: 25%;
    }
  }
  form {
    padding: 0 ($standard-distance);
  }
}

.wrapper {
  height: 100vh;
  margin: 0 auto;
  max-width: 640px;
}

//////// styling form

textarea {
  width: 100%;
}

label, .label {
  border: 1px;
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
  
  &.checkbox {
    width: 100%;
  }
}

.field {
  border: 0px;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  
  &:focus {
    box-shadow: 0 0 10px white;
  }
}

// Styling der Navigation

ul {
  margin: 0 0 45px;
  padding: 5px 0;
}

li {
  display: block;
  list-style: none;
  text-align: center;
  
  a {
    display: inline-block;
    font-weight: 700;
    height: 100%;
    margin: 10px auto;
    padding-top: 4px;
    width: 100%;
  }
}

@media (min-width: 400px) {
  
  ul {
    height: 54px;
    overflow: hidden;
    width: 100%;
    
    li {
      display: inline-block;
      margin-top: 0;
      width: 25%;
      
      &:hover {
        border-bottom: 5px solid orangered;
      }
    }
  }
}

.input {
      border-bottom: 2px solid #41B5E6;
    }