.menu {
    display: flex;
    
    }

.icono-hand {
        margin-left: 4px;
}
.button__available {
        display: flex;
        text-align: center;
        justify-content: right; 
        position: relative;
        margin-left: auto;
        display: flex;
        color: $colorsymbol;
        bottom: -0.6em;
        margin-right: 30px;
        letter-spacing: 1px;
}
   
.button {
        padding: 8px 13px 8px 13px;
        background: none;
        border-radius: 35px;
        display: flex;
        text-align: center;
        text-decoration: none;
        border:1px solid $colorborderbuttom;
        margin: 10px 10px 0px 0px;
        justify-content: right; 
        position: relative;

        &:nth-child(2) {
            margin-left: auto;
            display: flex;
        }

        &:hover{
            background-color: $colorsymbol;
            border:1px solid $colorsymbol;
          }
}
