
.checkbox__field{
    font-size:inherit
}
/* cuadno el imput esté marcado */
.checkbox__field:checked {
    opacity: .1
}
    
/* cuadno el imput esté marcado quiero que el label tenga color rojo */
.checkbox__field:checked + label {
    color:red;
}
    
.checkbox__field:checked + label div {
    color: blue;
}
    
/* 
-Pseudoelementos: solo pueden llevarlos los elementos con contenido.
-Siempre tiene que llevar "content"
*/
    
/* alinear el contenido texto en la línea del cuadrado */
.checkbox__label{
    display: inline-flex;
    align-items:center;
}
    
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: white;
  margin-right: 10px;
}
.checkbox__label::after {
  content: "<"
}

.checkbox__field:checked + label::before {
  background: url(../img/check-solid.svg) center no-repeat white;
}
/* seleccionar con el teclado */
.checkbox__field:focus + label::before {
    box-shadow: inset 0 0 0 2px red;
}
    
    /* darle color a un div que hay dentro de un label  
    input:checked + label div {
      color: blue;
    }
    */